body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0ed;
    color: #333;
}
header{
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.nav-links{
    display: flex;

}
ul{
    list-style: none;
}

li{
    margin-left: 1.5em;

}
a{
    text-decoration: none;
    padding: 0.5em;
    color: white;
    transition:color 1s ease;
}
a:hover{
    color: #ff6347;
}
/*main section styling*/

.hero {

    height: 30vh;

    background-color: #ff6347;

    text-align: center;

    padding: 4em;

    color: white;

}

.container {

    margin-top: 0.7rem;

    line-height: 40px;

}

.container .cta-btn {
    padding: 0.75em 1.5em;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 1s ease;

}

.cta-btn:hover {
    background-color: #87aaed;
}
.container h2{
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: .7rem;
}
.container p{
    font-weight: 500;
    font-size:1em;
    margin-bottom: .7rem;
}

.categories{
    padding:4em 4em;
    text-align: center;
}

.categories h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1.5em;
}
.category{
    background-color: #fff;
    padding:1em;
    border-radius: 8px;
    box-shadow:  0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 0.9em;
}
.category img {
    width: 100%;;
    height: auto;
    border-radius: 8px;
    margin-top: 1em;
}
.category h3 {
    font-size: 1em;
    margin: 0;
}

/*Featured Products*/

.featured-products{
    padding:4em 4em;
    text-align: center;
}

.featured-products h2{
    font-size: 2em;
    margin-bottom: 1em;
}

.product{
    background-color: #fff;
    padding:1em;
    border-radius: 8px;
    box-shadow:  0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 0.9em;
}
.product img{
    width: 100%;;
    height: auto;
    border-radius: 8px;
    margin-top: 1em;
}
.product h3{
    font-size: 1em;
    margin: 0;
}
.product p{
    font-size: 0.9em;
    color: #ff6347;
}
/*Testimonials*/

.testimonials {
    background-color: #333;
    color: #fff;
    padding:4em 4em;
    text-align: center;
  }
  
  .testimonials h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .testimonial {
    background-color: #444;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 0.9em;
  }
  
  .testimonial p {
    font-size: 1em;
    font-style: italic;
  }
  
  .testimonial h3 {
    font-size: 0.9em;
    margin-top: 1em;
    color: #ff6347;
  }
  /*Footer Section*/

  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  .footer p {
    margin: 0;
  }

  /*Media Queries for responsive design*/
  @media (max-width: 776px) {
    .nav-bar {
        flex-wrap: wrap;
        padding: 0.5em;
        justify-content: center; /* Center content horizontally */
        text-align: center; /* Center text items */
    }
  
    .logo-container {
        margin: 0; /* Remove margin */
        padding: 0.5em; /* Adjust padding */
        text-align: center; /* Center text items */
    }
  
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        padding: 0; /* Remove padding */
        margin-top: 1em;
    }
  
    .nav-links li {
        margin: 0.5em;
    }
  
    .nav-links a {
        padding: 0.5em;
    }
  }

  @media (max-width:900px) and (min-width:769px){
    .grid{
        grid-template-columns: repeat(4,1fr);
    }
  }
  @media (max-width:768px) and (min-width:481px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
  }
  @media (max-width:480px){
    .grid{
        grid-template-columns: 1fr;;
    }
  }
